PORT=5000
MONGODB_URI=mongodb://inteser_db_user:522002@ac-uy4g3or-shard-00-00.6gb6upz.mongodb.net:27017,ac-uy4g3or-shard-00-01.6gb6upz.mongodb.net:27017,ac-uy4g3or-shard-00-02.6gb6upz.mongodb.net:27017/keycove_db?ssl=true&replicaSet=atlas-th03q3-shard-0&authSource=admin&appName=KeyCove-Cluster
MONGO_URI=mongodb://inteser_db_user:522002@ac-uy4g3or-shard-00-00.6gb6upz.mongodb.net:27017,ac-uy4g3or-shard-00-01.6gb6upz.mongodb.net:27017,ac-uy4g3or-shard-00-02.6gb6upz.mongodb.net:27017/keycove_db?ssl=true&replicaSet=atlas-th03q3-shard-0&authSource=admin&appName=KeyCove-Cluster
JWT_SECRET=keycove_local_dev_secret_12345
CLIENT_URL=http://localhost:5173
